
<div id="content" class="content-container">
    <section class="panel panel-default table-dynamic" style="margin-top: 10px;">
        <div class="page page-table ng-scope">
            <section class="panel panel-default table-dynamic">
                <div class="panel-heading">
                    <strong>
                        <span class="glyphicon glyphicon-th"></span>
                        {{global.currentName}}

                    </strong>
                </div>

                    <!--<ol class="breadcrumb">
                        <li data-ng-repeat="breadcrumb in breadcrumbs"><a href="#" ng-style="{'cursor':'default'}"><i class="fa custom-icon" icon-type="breadcrumb.partType"></i>{{breadcrumb.name}}</a></li>
                    </ol>-->

                    <section class="content">
                        <bknd-ng-grid></bknd-ng-grid>
                    </section>
               
            </section>
        </div>
    </section>
</div>