<div class="user-panel" data-ng-controller="profileController" data-ng-init="init()">
    <div class="pull-left image">
        <img ng-src="{{profile.img}}" class="img-circle" style="margin-left: 20px;width: 45px;height: 45px;" alt="User Image" />
    </div>
    <div class="pull-left info"style="padding: 5px 5px 5px 15px;font-weight: 600;font-size: 14px;margin-top: -6px;">
        <p>Hello, {{profile.fullName}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
