<header class=" top-header clearfix ng-scope" data-ng-controller="profileController" data-ng-init="init()">
    <div class="container-fluid expanded-panel">
        <div class="row">
            <div class="logo bg-dark">
                <a href="/">{{profile.title}}</a>
            </div>
            <div>
                <div class="top-nav">
                    <ul class="nav-left list-unstyled">
                        <li>
                            <a href="#" data-toggle-nav-collapsed-min class="toggle-min">
                                <i class="fa fa-bars"></i>
                                
                            </a>
                        </li>

                        

                    </ul>

                    <ul class="nav-right pull-right list-unstyled">

                        <li class="dropdown text-normal nav-profile">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>
                                    {{profile.username}}<i class="fa fa-caret-down"></i>
                                </span>
                            </a>
                           
                            <ul class="dropdown-menu with-arrow pull-right">
                           
                                <li>
                                    <a href="#/pages/signin">
                                        <i class="fa fa-power-off"></i>
                                        <span data-i18n="Log Out" ng-click="logOut()">Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        
                    </ul>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</header>
