<header class=" top-header clearfix ng-scope" data-ng-controller="profileController" data-ng-init="init()">
    <div class="container-fluid expanded-panel">
        <div class="row">
            <div class="logo bg-dark">
                <a href="/">{{profile.title}}</a>
            </div>
            <div>
                <div class="top-nav">
                    <ul class="nav-left list-unstyled">
                        <li>
                            <a href="#" data-toggle-nav-collapsed-min class="toggle-min">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>

                        <!--<li class="dropdown hidden-xs">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></a>
                            <div class="dropdown-menu with-arrow panel panel-default admin-options" ui-not-close-on-click="">
                                <div class="panel-heading"> Admin Options </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <p>Layouts Style</p>
                                        <label class="ui-radio"><input name="layout" type="radio" value="boxed" ng-model="admin.layout" class="ng-pristine ng-valid"><span>Boxed</span></label>
                                        <label class="ui-radio"><input name="layout" type="radio" value="wide" ng-model="admin.layout" class="ng-pristine ng-valid"><span>Wide</span></label>
                                    </li>
                                    <li class="list-group-item">
                                        <p>Menu Style</p>
                                        <label class="ui-radio"><input name="menu" type="radio" value="vertical" ng-model="admin.menu" class="ng-pristine ng-valid"><span>Vertical</span></label>
                                        <label class="ui-radio"><input name="menu" type="radio" value="horizontal" ng-model="admin.menu" class="ng-pristine ng-valid"><span>Horizontal</span></label>
                                    </li>
                                    <li class="list-group-item">
                                        <p>Additional</p>
                                        <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1" ng-model="admin.fixedHeader" class="ng-pristine ng-valid"><span>Fixed Top Header</span></label>
                                        <br>
                                        <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1" ng-model="admin.fixedSidebar" class="ng-pristine ng-valid"><span>Fixed Sidebar Menu</span></label>
                                    </li>
                                    <li class="list-group-item">
                                        <p>
                                            <span>Page Transition: </span>
                                            <span class="space"></span>
                                            <select ng-model="admin.pageTransition" ng-options="ageTransitionOpt.name for ageTransitionOpt in pageTransitionOpts" class="ng-pristine ng-valid"><option value="0" selected="selected">Fade up</option><option value="1">Scale up</option><option value="2">Slide in from right</option><option value="3">Flip Y</option></select>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown hidden-xs">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-paint-brush"></i></a>
                            <div class="dropdown-menu with-arrow panel panel-default skin-options" ui-not-close-on-click="">
                                <div class="panel-heading">Skin Options</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="11" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-dark item-header"></span>
                                                    <span class="bg-white item-header"></span>
                                                    <span class="bg-dark"></span>
                                                </span>
                                            </label>

                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="12" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-primary item-header"></span>
                                                    <span class="bg-white item-header"></span>
                                                    <span class="bg-dark"></span>
                                                </span>
                                            </label>
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="13" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-success item-header"></span>
                                                    <span class="bg-white item-header"></span>
                                                    <span class="bg-dark"></span>
                                                </span>
                                            </label>
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="14" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-info-alt item-header"></span>
                                                    <span class="bg-white item-header"></span>
                                                    <span class="bg-dark"></span>
                                                </span>
                                            </label>
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="15" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-warning item-header"></span>
                                                    <span class="bg-white item-header"></span>
                                                    <span class="bg-dark"></span>
                                                </span>
                                            </label>
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="16" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-danger item-header"></span>
                                                    <span class="bg-white item-header"></span>
                                                    <span class="bg-dark"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-xs-4">
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="21" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-white item-header"></span>
                                                    <span class="bg-white item-header"></span>
                                                    <span class="bg-dark"></span>
                                                </span>
                                            </label>
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="22" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-primary item-header"></span>
                                                    <span class="bg-primary item-header"></span>
                                                    <span class="bg-dark"></span>
                                                </span>
                                            </label>
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="23" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">

                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-success item-header"></span>
                                                    <span class="bg-success item-header"></span>
                                                    <span class="bg-dark"></span>
                                                </span>
                                            </label>
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="24" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-info-alt item-header"></span>
                                                    <span class="bg-info-alt item-header"></span>
                                                    <span class="bg-dark"></span>
                                                </span>
                                            </label>
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="25" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-warning item-header"></span>
                                                    <span class="bg-warning item-header"></span>
                                                    <span class="bg-dark"></span>
                                                </span>
                                            </label>
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="26" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-danger item-header"></span>
                                                    <span class="bg-danger item-header"></span>
                                                    <span class="bg-dark"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-xs-4">
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="31" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-dark item-header"></span>
                                                    <span class="bg-dark item-header"></span>
                                                    <span class="bg-white"></span>
                                                </span>
                                            </label>
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="32" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-primary item-header"></span>
                                                    <span class="bg-primary item-header"></span>
                                                    <span class="bg-white"></span>
                                                </span>
                                            </label>
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="33" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-success item-header"></span>
                                                    <span class="bg-success item-header"></span>
                                                    <span class="bg-white"></span>
                                                </span>
                                            </label>
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="34" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-info-alt item-header"></span>
                                                    <span class="bg-info-alt item-header"></span>
                                                    <span class="bg-white"></span>
                                                </span>
                                            </label>
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="35" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-warning item-header"></span>
                                                    <span class="bg-warning item-header"></span>
                                                    <span class="bg-white"></span>
                                                </span>
                                            </label>
                                            <label class="skin-check">
                                                <input type="radio" name="skin" value="36" ng-model="admin.skin" class="ng-pristine ng-valid">
                                                <span class="skin-item bg-body">
                                                    <span class="overlay"><span class="glyphicon glyphicon-ok"></span></span>
                                                    <span class="bg-danger item-header"></span>
                                                    <span class="bg-danger item-header"></span>
                                                    <span class="bg-white"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="search-box visible-md visible-lg">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge badge-danger">3</span>
                            </a>
                            <div class="dropdown-menu with-arrow panel panel-default">
                                <div class="panel-heading">
                                    You have 3 mails.
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="javascript:;" class="media">
                                            <span class="pull-left media-icon">
                                                <span class="btn-icon btn-icon-round btn-warning"><i class="fa fa-envelope-o"></i></span>
                                            </span>
                                            <div class="media-body">
                                                <span class="block">Lisa sent you a mail</span>
                                                <span class="text-muted block">2min ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="javascript:;" class="media">
                                            <span class="pull-left media-icon">
                                                <span class="btn-icon btn-icon-round btn-info"><i class="fa fa-envelope-o"></i></span>
                                            </span>
                                            <div class="media-body">
                                                <span class="block">Jane sent you a mail</span>
                                                <span class="text-muted">3 hours ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="javascript:;" class="media">
                                            <span class="pull-left media-icon">
                                                <span class="btn-icon btn-icon-round btn-success"><i class="fa fa-envelope-o"></i></span>
                                            </span>
                                            <div class="media-body">
                                                <span class="block">Lynda sent you a mail</span>
                                                <span class="text-muted">9 hours ago</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="panel-footer">
                                    <a href="#/mail/inbox">Show all mails.</a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell-o"></i>
                                <span class="badge badge-info">3</span>
                            </a>
                            <div class="dropdown-menu with-arrow panel panel-default">
                                <div class="panel-heading">
                                    You have 3 notifications.
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="javascript:;" class="media">
                                            <span class="pull-left media-icon">
                                                <span class="btn-icon btn-icon-round btn-success"><i class="fa fa-bell-o"></i></span>
                                            </span>
                                            <div class="media-body">
                                                <span class="block">New tasks needs to be done</span>
                                                <span class="text-muted block">2min ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="javascript:;" class="media">
                                            <span class="pull-left media-icon">
                                                <span class="btn-icon btn-icon-round btn-info"><i class="fa fa-bell-o"></i></span>
                                            </span>
                                            <div class="media-body">
                                                <span class="block">Change your password</span>
                                                <span class="text-muted">3 hours ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="javascript:;" class="media">
                                            <span class="pull-left media-icon">
                                                <span class="btn-icon btn-icon-round btn-danger"><i class="fa fa-bell-o"></i></span>
                                            </span>
                                            <div class="media-body">
                                                <span class="block">New feature added</span>
                                                <span class="text-muted">9 hours ago</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="panel-footer">
                                    <a href="#/mail/inbox">Show all notifications.</a>
                                </div>
                            </div>
                        </li>-->

                    </ul>

                    <ul class="nav-right pull-right list-unstyled">

                        <li class="dropdown text-normal nav-profile">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>
                                    {{profile.username}}<i class="fa fa-caret-down"></i>
                                </span>
                            </a>
                            <!--<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                                <div class="avatar">
                                    <img src="{{profile.img}}" class="img-circle img30_30" alt="" />
                                    <span class="hidden-xs">
                                        <span>Hello, {{profile.fullName}}</span>
                                    </span>
                                </div>
                                  
                            </a>-->
                            <ul class="dropdown-menu with-arrow pull-right">
                                <li>
                                    <a href="#/pages/profile">
                                        <i class="fa fa-user"></i>
                                        <span data-i18n="My Profile">My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/tasks/tasks">
                                        <i class="fa fa-check-square-o"></i>
                                        <span data-i18n="My Tasks">My Tasks</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/pages/lock-screen">
                                        <i class="fa fa-lock"></i>
                                        <span data-i18n="Lock">Lock</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/pages/signin">
                                        <i class="fa fa-power-off"></i>
                                        <span data-i18n="Log Out">Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        <!--<li class="dropdown langs text-normal ng-scope">
                            <a href="javascript:;" class="dropdown-toggle active-flag" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="flag flags-american"></div>
                            </a>
                            <ul class="dropdown-menu with-arrow  pull-right list-langs" role="menu">
                                <li data-ng-show="lang !== 'English' " class="ng-hide">
                                    <a href="javascript:;" data-ng-click="setLang('English')"><div class="flag flags-american"></div> English</a>
                                </li>
                                <li data-ng-show="lang !== 'Español' " class="">
                                    <a href="javascript:;" data-ng-click="setLang('Español')"><div class="flag flags-spain"></div> Español</a>
                                </li>
                                <li data-ng-show="lang !== '日本語' " class="">
                                    <a href="javascript:;" data-ng-click="setLang('日本語')"><div class="flag flags-japan"></div> 日本語</a>
                                </li>
                                <li data-ng-show="lang !== '中文' " class="">
                                    <a href="javascript:;" data-ng-click="setLang('中文')"><div class="flag flags-china"></div> 中文</a>
                                </li>
                                <li data-ng-show="lang !== 'Deutsch' " class="">
                                    <a href="javascript:;" data-ng-click="setLang('Deutsch')"><div class="flag flags-germany"></div> Deutsch</a>
                                </li>
                                <li data-ng-show="lang !== 'français' " class="">
                                    <a href="javascript:;" data-ng-click="setLang('français')"><div class="flag flags-france"></div> français</a>
                                </li>
                                <li data-ng-show="lang !== 'Italiano' " class="">
                                    <a href="javascript:;" data-ng-click="setLang('Italiano')"><div class="flag flags-italy"></div> Italiano</a>
                                </li>
                                <li data-ng-show="lang !== 'Portugal' " class="">
                                    <a href="javascript:;" data-ng-click="setLang('Portugal')"><div class="flag flags-portugal"></div> Portugal</a>
                                </li>
                                <li data-ng-show="lang !== 'Русский язык' " class="">
                                    <a href="javascript:;" data-ng-click="setLang('Русский язык')"><div class="flag flags-russia"></div> Русский язык</a>
                                </li>
                                <li data-ng-show="lang !== '한국어' " class="">
                                    <a href="javascript:;" data-ng-click="setLang('한국어')"><div class="flag flags-korea"></div> 한국어</a>
                                </li>
                            </ul>
                        </li>-->
                    </ul>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</header>
